<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="icon" href="/favicon.png"> -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-main.css') }}">
  <!-- <link rel="stylesheet" href="css/styles-main.css"> -->
  <title>ATENA</title>
</head>
<body>
  <header>
    <h3>LOGIN - HANA</h3>
  </header>

  <div class="login">

    
    <form class="login-form" action="/login/login" method="post">
      <div class="field-login">
        <div class="rotulo">Matrícula CLB</div>
        <input 
          id="email"
          type="email" 
          name="email" 
          placeholder="Matrícula CLB" 
          value=""
          onblur="Validate.apply(this, 'isEmail')"
          
        >
        {# {% if error %}
            onsubmit="Validate.apply(this, 'erro')"
          {% endif %} #}
      </div>
    
      <div class="field-login">
        <div class="rotulo">Senha</div>
        <input 
          type="password" 
          name="password" 
          placeholder="Digite sua senha" 
          onblur="ValidateField.apply(this, 'erro')"
        >
      </div>
    
      <div class="access">
        <button class="button" type="submit">Acessar</button>
      </div>
    </form>
    
  </div>

  
  <footer class="footer">
    <h4>Seleção Estratégica de Cortes</h4>
  </footer>

  <script>
    window.onload = function() {
      document.getElementById('email').focus();
    }
  </script>
</body>
</html>